/* static/css/base.css */
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

header {
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

header h1 a {
    color: red;
    text-decoration: none;
}

.nav-left {
    display: flex;
    padding-top: 2rem;
}

.page-entry {
    margin-bottom: 2rem;
}

.page-entry h2 {
    margin: 0.5rem 0;
}

.page-entry h2 a,
.page-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.page-entry  p {
    margin: 0;
    font-weight: 400;
}

.page-entry h2 a:hover {
    color: red;
}